p {
  font-family: "Mountains of Christmas", cursive;
  font-size: 20px;
  color: #9b0000;
}

.text {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  display: block;
  background-color: #9b0000;
  color: white;
  width: fit-content;
  white-space: nowrap;
  border-radius: 10px;
  padding: 10px 30px;
  margin-bottom: 130px;
}

// .container {
//   display: flex;
//   justify-content: center;
// }
